body    {background-color: #FFFFFF;
	color: # whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100; 
	font-size: 1.25em;
}

h1	{color: #000000;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2.5em; 		
}

h2  	{color: #008080}
h3  	{color: #C70F12}
p 	{color: #008080}
footer  {color: #708090;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	font-size: .6em; 		
}

nav 	{color: #e57200}

.rotateimg90 { transform: rotate(90deg); padding: 25px;	
}


Colors Used
color: #FFFFFF White
color: #000000 Black
color: #e57200 Burnt orange
color: #008080 Teal
color: #708090 Gray	